:root {
  --white: #ffffff;
  --black: #000000;
  --text-color: #202020;
  --blue: #6E09BD;
  --dark-blue:  #7009BA ;
  --orange: #FFC357;
  --red: #e53935;
  --bg-grey: #FAF8F6 !important;
  --bg-light-grey: #EEEEEEEE !important;
  --Inter: "Inter", sans-serif;
  --light-blur: #F5F5F5;
}

.col-text-profile {
	.btn-white {
		padding: 6px 10px;
		border-radius: 8px;
		background: var(--light-blur);
		margin: 24px 0;
		font-weight: 400;
		font-size: 14px;
		line-height: 100%;
		letter-spacing: 0px;
		color: var(--dark-blue);
        @media only screen and (max-width: 1750px) {
           margin: 15px 0;
        }
		.text-black {
			font-weight: 700;
		}
	}
}
.com-profile {
	.col-img-profile {
		width: 50%;
        padding-right: 15px;
	}
	.col-text-profile {
		width: 50%;
		margin-left: auto;
		@media only screen and (max-width: 767px) {
			width: 100%;

		}
		ul {
			max-width: 330px;
			margin-left: auto !important;
		}
	}
}
.card-box {
	&.profile-card {
		border: 1px solid var(--orange);
	}
}

.progressbar-sec {
    width: 100% !important;
    height: auto !important;
    max-width: 145px;
    margin: 0 auto;
    img {
        width: 78% !important;
        height: 78% !important;
    }

}

.top-text {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0px;
    margin-bottom: 5px;
    color: var(--blue);
	
    @media only screen and (max-width: 1550px) {
        font-size: 17px;
    }
}

.details-student-box .bottom-text {
	margin: 0;
    @media only screen and (max-width: 1550px) {
        font-size: 14px;
    }
}


@media only screen and (max-width:767px){

	.top-header-sec .right-top-header .right-head-details .btn-box .text-primary.rounded-circle {
		font-size: 7px !important;
		width: 13px !important;
		height: 13px !important;
		line-height: 1 !important;
		top: -5px !important;
		right: -5px !important;
	}

}


 .com-profile h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


@media only screen and (max-width:1200px){
	.text-dark-blue.text-box {
		font-size: 13px;
	}
}


