.col-text-profile {
	.btn-white {
		padding: 6px 10px;
		border-radius: 8px;
		background: var(--light-blur);
		margin: 24px 0;
		font-weight: 400;
		font-size: 14px;
		line-height: 100%;
		letter-spacing: 0px;
		color: var(--dark-blue);
        @media only screen and (max-width: 1750px) {
           margin: 15px 0;
        }
		.text-black {
			font-weight: 700;
		}
	}
}
.com-profile {
	.col-img-profile {
		width: 50%;
        padding-right: 15px;
	}
	.col-text-profile {
		width: 50%;
		margin-left: auto;
		ul {
			max-width: 230px;
			margin-left: auto !important;
		}
	}
}
.card-box {
	&.profile-card {
		border: 1px solid var(--orange);
	}
}

.progressbar-sec {
    width: 100% !important;
    height: auto !important;
    max-width: 145px;
    margin: 0 auto;
    img {
        width: 78% !important;
        height: 78% !important;
    }

}

.top-text {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0px;
    margin-bottom: 5px;
    color: var(--blue);
	
    @media only screen and (max-width: 1550px) {
        font-size: 17px;
    }
}

.details-student-box .bottom-text {
	margin: 0;
    @media only screen and (max-width: 1550px) {
        font-size: 14px;
    }
}
