
::selection {
  background-color: var(--black);
  color: var(--white);
}
.line-clamp-2 {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}
:root {
  --white: #ffffff !important;
  --black: #000000 !important;
  --text-color: #212121 !important;
  --blue: #4301EA !important;
  --dark-blue: #7009BA !important;
  --light-blur: #F1ECF7 !important;
  --red: #E53935 !important;
  --orange : #FFC357 !important;
  --bg-grey: #FAF8F6 !important;
  --bg-light-grey: #EEEEEEEE !important;
  --Inter: "Inter", sans-serif !important;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--bg-grey)!important;
  font-family: var(--Inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  overflow-x: hidden;
}

h1, .h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
}

h2, .h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
}

h3, .h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
}

h4, .h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0%;
  
}

h5, .h5 {
  font-weight: 500;
  font-size: 18px;  
  line-height: 27px;
  letter-spacing: 0%;
}

h6, h6 {
  font-weight: 500;
  font-size: 16px;  
  line-height: 27px;
  letter-spacing: 0%;
}

ul,
ol {
  padding: 0 0 0 25px;
}

ul li,
ol li,
p {
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0px;
margin: 0;
}

.unorderlist, .orderlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  font-size: 15px;
  transition: all 0.5s ease;
}

a:hover, a:focus {
  color: var(--dark-blue); 
}

a:focus, .btn:focus, input:focus, select:focus, textarea:focus, button:focus-visible{
  outline: none !important;
  box-shadow: none !important;
  border-color: var(--bg-light-grey) !important;
}

form input, form select, form textarea, .form-select {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    padding: 11px 10px;
}

.form-select , form select {
    padding: 11px 40px 11px 10px;
}

.btn {
  transition: all 0.5s ease !important;
}


html {
  scroll-behavior: smooth;
}


.btn-primary {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 28px !important;
    letter-spacing: 0 !important;
    padding: 10px 15px !important;
    color: var(--white) !important;
    background-color: var(--dark-blue) !important;
    border-radius: 8px !important;
    border-color: var(--dark-blue) !important;
}

.btn-primary:hover {
  background-color: var(--white);
  color: var(--dark-blue);
  border-color: var(--dark-blue);
}


.btn-primary:hover svg path {
    stroke: var(--dark-blue);
}

.btn-primary svg path {
    transition: all 0.5s;
}

.owl-nav button span {
  font-size: 0;
}

.swiper-button-next {
    position: absolute;
    background: url(./src/assets/next-btn.png) !important;
    width: 40px;
    height: 40px;
    top: 50%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    right: 15px;
    /* transform: translateY(-50%); */
    border-radius: 100px;
    background-size: contain !important;
}

.swiper-button-prev {
    position: absolute;
    background: url(./src/assets/prev-btn.png) !important;
    width: 40px;
    height: 40px;
    top: 50%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    left: 15px;
    /* transform: translateY(-50%); */
    border-radius: 100px;
    background-size: contain !important;
}

 .swiper-button-next:after, .swiper-button-prev:after {
  display: none;
 }

.container {
  max-width: 100%;
  padding: 0px;
}
main {
  overflow: hidden;
}

main.new-main {
  overflow: initial;
}

.hr-light {border: 1px solid var(--bg-light-grey);}


.btn-primary.add-assignments {
    font-weight: 400 !important;
    padding: 4px 15px !important;
}

.rs-picker-popup {
  z-index: 9991;
}


.btn.btn-border {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    padding: 10px 15px;
    color: var(--dark-blue);
    background-color: var(--white);
    border-radius: 8px;
    border-color: var(
    --dark-blue);
}

.btn.btn-border:hover {
    background: var(--dark-blue);
    color: var(--white);
}









.w-1450 table {
    min-width: 1450px;
}

.active-first-tab{
    .tab-sec-music {   
        @media only screen and (max-width: 767px){
            padding-top: 48px;
        }
        .nav-tabs {
            width: calc(100% - 280px);
            @media only screen and (max-width: 767px){
                width: 100%;
                justify-content: space-between;
            }
        }
    }
}

.tab-sec-music {
	.nav-tabs {
		border-bottom: 1px solid #EEEEEE;
        width: 100%;
            @media only screen and (max-width: 767px){
                width: 100%;
                justify-content: space-between;
            }

		li {
			&.nav-item {
				margin-right: 50px;
                @media only screen and (max-width: 1199px){
                    margin-right: 12px;
                    @media only screen and (max-width: 767px){
                        margin: 0;
                    }
                }
				button {
					font-weight: 400;
					font-size: 16px;
					line-height: 100%;
					letter-spacing: 0px;
					color: #5d5d5d;
					border: none;
					padding: 15px 15px 24px 15px;
					border-bottom: 4px solid transparent;
					border-radius: 0;
                    @media only screen and (max-width: 1199px){
                        font-size: 15px;
                        @media only screen and (max-width: 767px){
                            padding: 10px 8px;
                            font-size: 14px;
                        }
                    }
					&.active {
						border-bottom-color: var(--dark-blue);
						font-weight: 600;
						color: var(--black);
					}
				}
			}
		}
	}
}
.practice-studio-sec {
	.search-box-sec {
		position: absolute;
		top: 18px;
		right: 15px;
        @media only screen and (max-width: 767px){
         right: 12px;
         left: 12px;
         margin: 0 auto;   
        }
	}
}

.list-my-library {
    background: var(--light-blur);
    padding: 16px 24px;
    border-radius: 8px;

    p {
        margin: 0;
        font-weight: 500;
    }
}
