
:root {
  --white: #ffffff;
  --black: #000000;
  --text-color: #202020;
  --blue: #6E09BD;
  --dark-blue:  #7009BA ;
  --orange: #FFC357;
  --red: #e53935;
  --bg-grey: #FAF8F6 !important;
  --bg-light-grey: #EEEEEEEE !important;
  --Inter: "Inter", sans-serif;
  --light-blur: #F5F5F5;
}


.top-header-sec {
  position: fixed;
  top: 0;
  background: var(--bg-grey);
  z-index: 1;
}

.top-header-sec .right-top-header {
  width: calc(100% - 240px);
  margin-left: auto;
  padding: 18px;
  border-bottom: 1px solid var(--bg-light-grey);
}

.dashboard-sec .side-menu-sec {
  width: 242px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.dashboard-sec .side-menu-sec .offcanvas {
  background: linear-gradient(180deg, #4201eb 0%, #7109b9 100%);
  padding: 18px 24px;
  width: 242px !important;
}

.top-header-sec .right-top-header input {
  box-shadow: 0px 4px 8px 0px #00000005;
  padding: 12px 10px 12px 45px;
  border: none;
  min-width: 450px;
}

.search-box button.btn {
  position: absolute;
  top: 6px;
  left: 14px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0px;
}

.search-box input {
  box-shadow: 0px 4px 8px 0px #00000005;
  padding: 11px 10px 11px 45px;
  border: 1px solid var(--bg-light-grey) !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
}

.top-header-sec .right-top-header .right-head-details .btn-box.btn-dark {
  background: var(--blue);
}

.top-header-sec .right-top-header .right-head-details .btn-box {
  background: #c4b0f92b;
  border-radius: 100px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-header-sec .right-top-header .right-head-details .btn-box svg {
  display: block;
}

.top-header-sec .right-top-header .right-head-details .img-admin {
  padding-left: 16px;
  margin-left: 16px;
  border-left: 1px solid #97979778;
}

.top-header-sec .right-top-header .right-head-details img {
  border-radius: 50px;
  width: 36px;
  height: 36px;
  object-fit: cover;
  display: block;
}

.top-header-sec .right-top-header .right-head-details h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-bottom: 5px;
}

.top-header-sec .right-top-header .right-head-details p {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #505050;
}

.dashboard-sec .side-menu-sec .offcanvas .offcanvas-body {
  padding: 0;
  overflow: hidden;
}

.dashboard-sec .side-menu-sec .img-logo .logo,
.dashboard-sec .side-menu-sec .img-logo .logo img {
  display: block;
}

.dashboard-sec .side-menu-sec .side-menu {
  overflow-y: scroll;
  height: calc(100svh - 110px);
  margin-top: 40px;
}

.side-menu::-webkit-scrollbar {
  display: none;
}

.dashboard-sec .side-menu-sec .side-menu a {
  padding: 10px 8px;
  border-radius: 8px;
  color: var(--bg-grey);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 16px;
}

.dashboard-sec .side-menu-sec .side-menu a.active,
.dashboard-sec .side-menu-sec .side-menu a:hover {
  background: var(--white);
  color: var(--dark-blue);
}

.dashboard-sec .side-menu-sec .side-menu a.active svg path,
.dashboard-sec .side-menu-sec .side-menu a:hover svg path {
  fill: var(--dark-blue);
}

.dashboard-sec .side-menu-sec .side-menu a svg path {
  transition: all 0.5s ease;
}

.dashboard-sec .side-details-sec {
  width: calc(100% - 240px);
  padding: 33px 18px;
  margin-left: auto;
  margin-top: 80px;
}

/********com css**********/

.card-box {
  background: var(--white) !important;
  border-radius: 8px !important;
  padding: 20px !important;
}

.table-sec table tr th {
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 100% !important;
  letter-spacing: 0px !important;
  color: var(--text-color) !important;
  padding: 16px 4px !important;
}

.table-sec table tr td {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 130% !important;
  letter-spacing: 0px !important;
  padding: 16px 4px !important;
  color: var(--text-color) !important;
}

.btn-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--blue);
}

.pagination-sec ul.pagination {
  margin: 0;
  background: #faf8f6;
  border-radius: 16px;
  padding: 8px;
  align-items: center;
}

.pagination-sec ul.pagination .page-link {
  background: transparent;
  border: none;
  display: flex;
  padding: 8px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.pagination-sec ul.pagination li.active .page-link {
  background: var(--white);
  color: var(--dark-blue);
  border-radius: 4px;
}

.pagination-sec ul.pagination .page-link span {
  display: block;
}

.red-text {
  color: var(--red);
}

.green-text {
  color: #00bc7e;
}

.yellow-text {
  color: #ffc357;
}

.w-1200 {
  min-width: 1200px;
}

button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.dropdown .btn.show {
  background-color: transparent !important;
  border-color: var(--dark-blue) !important;
  color: var(--dark-blue) !important;
}

.btn.btn-primary:focus {
  background: transparent;
  border: 1px solid var(--dark-blue) !important;
}

.admin-shome-box .top-text {
  font-size: 26px;
}

.approval-requests-card .card-box {
  border: 1px solid #eeeeee;
}

.approval-requests-card .card-box {
  border: 1px solid #eeeeee;
}

.btn.btn-border.btn-green,
.btn.btn-border.btn-green:focus {
  background: transparent;
  color: #00bc7e;
  border-color: #00bc7e !important;
  border-radius: 4px;
}

.btn.btn-border.btn-green:hover svg path {
  stroke: #00bc7e;
}

.btn.btn-border.btn-red,
.btn.btn-border.btn-red:focus {
  color: #e53935;
  border-color: #e53935 !important;
  background: transparent;
  border-radius: 4px;
}

.btn.btn-border.btn-red:hover svg path {
  stroke: #e53935;
}

.text-log-out {
  color: #ffc357 !important;
}

.text-log-out:hover svg path {
  stroke: #ffc357;
}

.assignments-list-box {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--bg-light-grey);

  h3 {
    font-weight: 600;
    margin-bottom: 16px;
  }

  .btn.btn-primary {
    padding: 4px 15px;
  }

  .btn.btn-border {
    padding: 4px 15px;
    white-space: nowrap;
    &:hover svg path {
      fill: white;
    }
    svg {
      min-width: 20px;
    }
  }
  .student-img-name {
    img {
      width: 24px;
      height: 24px;
      border-radius: 100px;
      display: block;
      overflow: hidden;
    }
  }

  .assignments-list {
    ul {
      li {
        @media only screen and (max-width: 1200px) {
          width: 48%;
          margin: 5px 0;
          @media only screen and (max-width: 767px) {
            width: 100%;
            justify-content: space-between;
          }
        }
      }
    }
    /* .student-assignment.my-course-student {
            min-width: 100%;
             ul {
                li {
                    @media only screen and (max-width:1200px){
                        width: 100%;
                        @media only screen and (max-width:767px){
                            width: 100%;
                            justify-content: space-between;
                        }
                    }

                }
            }
        } */
  }
}

.assignment-detail-sec {
  .right-card {
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
  .card-box.top-card-assignment-details {
    border: 1px solid #0152a7;
  }
  .card-img-box {
    border: 5px solid var(--white);
    width: 115px;
    height: 115px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark-blue);
    box-shadow: 0 0 0 5px #f5f5f5;
  }

  .instruction-sec {
    ul {
      li {
        font-weight: 600;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    ol {
      padding-left: 38px;
      list-style-type: disc;
      li {
        font-weight: 400;
        color: #505050;
        margin-bottom: 11px;
        line-height: 24px;
      }
    }
  }
}
.side-details-sec {
  .assignment-details-right {
    h2 {
      font-size: 24px;
      @media only screen and (max-width: 1199px) {
        font-size: 18px;
      }
    }
    .assignments-list {
      &:not(:last-child) {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #eeeeee;
      }
    }
  }
}

.head-com-sec {
  .right-form {
    .search-box {
      @media only screen and (max-width: 767px) {
        width: 48.7%;
        @media only screen and (max-width: 365px) {
          width: 48.6%;
        }
      }
    }
    .select-box {
      @media only screen and (max-width: 767px) {
        width: 48.7%;
      }
    }
    .btn-primary.add-assignments {
      @media only screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.btn.btn-border.fixed-width-box {
  padding: 6px 8px !important;
  width: max-content !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  &:hover svg path {
    fill: var(--white);
  }
}

.right-assignment.my-course-student-right {
  @media only screen and (max-width: 767px) {
    width: 100%;
    ul.w-full-width {
      width: 100%;
      li {
        width: 100%;
        a {
          width: 100%;
        }
      }
    }
  }
}

.course-quality-details-sec {
  .course-quality {
    padding: 12px;
    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 32px;
    }
    h4 {
      margin-bottom: 16px;
      color: var(--dark-blue);
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: 0px;
      span {
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #505050;
      }
    }
    ul {
      &.reting-review {
        margin-bottom: 32px !important;
      }
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0px;
      max-width: 400px;
      margin: 0 auto !important;
    }
  }
}
.progressbar-line-sec {
  h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 20px !important;
  }
  .left-progress-bar {
    width: 75%;
  }
  .right-text-box {
    .main-text {
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0;
      color: var(--dark-blue);
    }
    .text-muted {
      font-weight: 400;
      font-size: 8px;
      line-height: 100%;
      letter-spacing: 0;
    }
  }
}

.btn.btn-primary.small {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
}

.mobile-width {
  @media only screen and (min-width: 767px) {
    width: auto !important;
  }
}

.course-tabs-card {
  padding: 32px 0;
  h2 {
    font-weight: 500;
    margin-bottom: 16px;
  }
  &:not(:last-child) {
    border-bottom: 1px solid #eeeeee;
  }
  p {
    line-height: 24px;
    color: #505050;
  }
}
.btn {
  &.btn-border {
    &.btn-red-border {
      border-color: #e53935;
      color: #e53935;
      &:hover {
        background: #e53935;
        color: var(--white);
        svg {
          path {
            fill: var(--white);
          }
        }
      }
    }
    &:hover {
      svg {
        path {
          stroke: var(--white);
        }
      }
    }
  }
}

.add-new-session-sec {
  .heading-top {
    padding-bottom: 32px;
    border-bottom: 1px solid #eeeeee;
    @media only screen and (max-width: 1000px) {
      padding-bottom: 20px;
    }
  }
  .bottom-new-session-details {
    .calender-box {
      padding-right: 32px;
      padding-top: 32px;
      @media only screen and (max-width: 1000px) {
        padding-right: 0;
      }
    }
    .refer-tutor-sec {
      padding-left: 42px;
      padding-top: 32px;
      border-left: 1px solid #eeeeee;
      @media only screen and (max-width: 1000px) {
        padding-left: 0;
        border-top: 1px solid #eeeeee;
        border-left: none;
        margin-top: 32px;
        @media only screen and (max-width: 1000px) {
          margin-top: 16px;
        }
      }
    }
  }
  .calender-box {
    .rs-panel-body {
      padding: 0;
      .rs-calendar {
        padding: 0;
        height: auto;
        min-height: auto !important;
        .rs-calendar-table-cell-content {
          height: auto;
          padding: 14px;
          border: none;
          box-shadow: none !important;
          @media only screen and (max-width: 1000px) {
            padding: 9px;
          }
        }
        .rs-calendar-header {
          margin-bottom: 22px;
        }
      }
      button {
        padding: 0;
        background: transparent !important;
        &.rs-calendar-header-title {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.38px;
          color: #000;
          padding: 0 15px;
          background: transparent !important;
        }
        svg {
          &.rs-icon {
            width: 21px;
            height: 21px;
            fill: var(--blue);
          }
        }
        &.rs-calendar-btn-today {
          background: transparent;
          color: var(--blue);
          font-weight: 600;
        }
      }
    }
    .rs-calendar-body {
      @media only screen and (max-width: 1000px) {
        padding-left: 0;
        padding-right: 0;
      }
      .rs-calendar-table-cell {
        &.rs-calendar-table-cell-selected {
          background: #f1ecf7;
          &::before {
            display: none;
          }
          .rs-calendar-table-cell-day {
            background: transparent;
            color: var(--black);
            font-weight: 500;
          }
        }
      }
    }
  }
}

.rs-picker-date > .rs-input-group.rs-input-group-inside .rs-input:focus,
.rs-input-group:focus-within,
.rs-input-group:not(.rs-input-group-disabled).rs-input-group-focus,
.rs-input-group:focus-within,
.rs-input-group:not(.rs-input-group-disabled).rs-input-group-focus,
.rs-input-group:not(.rs-input-group-disabled):hover {
  outline: none !important;
  box-shadow: none !important;
  border-color: #dee2e6 !important;
}



@media only screen and (max-width: 992px){

    .dashboard-sec .side-details-sec {
      width: 100%;
      margin-top: 66px;
      padding: 15px;
  }

}



