.refer-and-earn-box {
	.text-bottom-box {
		background: var(--dark-blue) !important;
		padding: 14px;
		border-radius: 8px;
		h2 {
			color: var(--white);
			font-weight: 600;
			font-size: 24px;
			line-height: 100%;
			letter-spacing: 0px;
            @media only screen and (max-width: 1750px) {
                font-size: 17px;
            }
		}
		p {
			color: var(--white);
			line-height: 18px;
			font-size: 14px;
			@media only screen and (max-width: 1499px) {
				font-size: 13px;
			}
		}
		.blue-box {
			max-width: 250px;
			margin: 0 auto;
		}
	}
	.img-box {
		img {
			height: 150px;
            @media only screen and (max-width: 1750px) {
                height: 125px;  
                @media only screen and (max-width: 1550px) {
                    height: 114px; 
					@media only screen and (max-width: 1400px) {
						height: 140px;
					}  
                }  
            }
		}
	}
}
.btn {
	&.btn-orange {
		background: var(--orange);
		display: block;
		margin-top: 12px;
		font-size: 16px;
		font-weight: 600;
		padding: 6px 25px;
            @media only screen and (max-width: 1750px) {
                font-size: 14px;
                padding: 6px 15px;
                @media only screen and (max-width: 1550px) {
                    padding: 3px 15px;
                }
            }
	}
}

.refer-earn-details-sec {
	.achievements-box {
		padding-bottom: 16px;
		margin-bottom: 16px;
		border-bottom: 1px solid var( --bg-light-grey);
		.img-box {
			width: 28px;
			&.icons-with-bg {
				background: var(--light-blur);
				border-radius: 100px;
				height: 28px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}



		p {
			font-weight: 600;
			font-size: 14px;
		}
		span {
			font-size: 11px;
			display: block;
			color: #505050;
			margin-top: 4px;
		}
	}
}


.refer-tutor-sec input, .refer-tutor-sec select, .refer-tutor-sec textarea {
	padding: 12px 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0px;
	color: #6B7582;
    @media only screen and (max-width:767px){ 
        font-size: 14px;
        line-height: 20px;
    }
}

